/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('fonts/source-sans-pro-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-sans-pro-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/source-sans-pro-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/source-sans-pro-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-sans-pro-v12-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body {
    margin:0;
    background-color: #f1e9b3;
	background-image: url(/images/gplay.png);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
	color: #504E43;
  }

.container > section {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    width:40rem;
    border-radius: 4px;
    padding-bottom: 30px;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .container > section {
        max-width: 40rem;
    }
}

body > .zumpad-menu {
    margin-bottom: 1rem;
}


body > .zumpad-menu .navbar-brand img {
    max-height:3em;
}

body > .zumpad-menu .nav-item img {
    max-height: 1.66em;
}

header, section {
 	background: #fff; 
	border-radius: 4px;
}



header a, header a:link, header a:hover, header a:active, header a:visited {
    background-color:transparent;
} 

/*
#colcontainer {
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin-top:1em;
}
*/


#leftcol, #rightcol {
    border-radius: 4px;
    padding-bottom: 30px;
    margin-bottom: 1rem;
}

footer {
    clear:both;
    margin:20px 0 50px 0;
    text-align:center;
    padding:3px;
  }



/* Typographie */
a:link, a:visited {
	color: #504E43;
}

a:hover {
	background: #f0edd9;
}

label {
	color: #969881;
    font-size:.9em;	
}
 
 .column button {
	margin: .5em 0 2em !important;
	font-family: "Source Sans Pro", sans-serif;
	border:none;
}




 p strong,
 li strong {
	font-weight: normal;
	background:rgba(255,233,111,0.5);
	color:rgba(52,51,44,1);
	padding:0 3px;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 .25em 0;
	padding:.125em .125em .125em .5em;
	border-radius: 4px 4px 0 0;
	background-color: #d7d2b3;
}

section ul,
section ol {
    line-height: 1.6em;
}

 .column h3 {
	font-size: 1.2em;
	font-weight: bold;
}

.column p {
/* 	margin-left:3em; */
	text-align: center;
}

.column hr.or,
hr {
	margin: 28px 0em;
	padding: 0;
	border:none;
	border-bottom:1px solid #CECFB7; 
}

p.or {
 	margin: -41px 3em 14px 3em;
 	text-align: center;
}

.or span {
	padding: 1px 8px 2px 8px;
	background-color: #fff;
	color: #98997f;
	font-size: 16px;
	border:1px solid #CECFB7; 
	border-radius: 14px;
	
}

section.column .newpaddirect a,
section.column .newpadname a,
section.column .register a, 
section.column .login a, 

section.column button.newpaddirect,
section.column button.newpadname,
section.column button.register, 
section.column button.login {
	display: block;
	padding:.5em 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}


.btn.primary {
    color: #504E43;
    background-color: #FEE65E;
    text-decoration: none;
}

.btn.primary:hover {
    background-color: #EAD457;
}

.btn.secondary {
    color: #504E43;
    background-color: #CECFB7;
    text-decoration: none;
}
.btn.secondary:hover {
    background-color: #B4B69D;
}

/* .btn-tiny is modelled after bootstraps .btn-sm */
.btn-group-tiny>.btn,
.btn-tiny {
    padding:.25em .5em;
    font-size:.875em;
    line-height:1.5;
    border-radius:.2em;
}

.btn-nooutline,
/* attribute selector to increase specifity */
.btn-nooutline[class~="btn"] {
    border-color: transparent;
}


#leftcol .newpaddirect a, #leftcol .newpaddirect a:link, #leftcol .newpaddirect a:hover, #leftcol .newpaddirect a:visited
#rightcol .register a, #rightcol .register a:link, #rightcol .register a:hover, #rightcol .register a:visited,  
#leftcol button.newpaddirect, 
#rightcol button.register{
	color: #504E43;
	background-color: #FEE65E;
	text-decoration: none;
}

#leftcol .newpadname a, #leftcol .newpadname a:visited, #leftcol .newpadname a:hover, #leftcol .newpadname a:visited, 
#rightcol .login a, #rightcol .login a:visited, #rightcol .login a:hover, #rightcol .login a:visited, 
#leftcol button.newpadname, 
#rightcol button.login  {
	color: #504E43;
	background-color: #CECFB7;
	text-decoration: none;
}

#leftcol .newpaddirect a:hover,
#rightcol .register a:hover, 
#leftcol button.newpaddirect:hover,
#rightcol button.register:hover {	
	background-color: #EAD457;
}

#leftcol .newpadname a:hover, 
#rightcol .login a:hover, 
#leftcol button.newpadname:hover, 
#rightcol button.login:hover {	
	background-color: #B4B69D;
}



/* Datenschutzhinweis und Link zum ZUMpadPro */

#privacy, 
#zumpadprolink  {
	margin:1.5em 0 0 0;
	padding:1em 3em;
	background: #fff;
	border-radius: 4px;
}

#privacy h3, 
#zumpadprolink h3  {
	margin: 0 0 .25em 0;
	font-size: 2em;
	font-weight: normal;
	padding:0;
}

#privacy p, 
#zumpadprolink p {
	margin: 1em 1em 1em 0;
	font-size: 1.1em;
	padding:0;
}

#privacy img, 
#zumpadprolink img {
	float: left;
	margin:1em 1em .125em 0;
}

#zumpadprolink hr {
	clear: both;
	visibility: hidden;
}


/* Link zum ZUMpadPro */




/* Footer */


footer a {
	color: #2E4455;
}


html.zumpad-page > body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html.zumpad-page > body > .zumpad-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
html.zumpad-page > body > .zumpad-content > iframe {
    border: 0;
    flex-grow: 1;
}
html.zumpad-page > body > .zumpad-menu {
    margin-bottom: 0;
}

.n-1 {
    margin: -0.25rem !important;

}

.nt-1,
.ny-1 {
    margin-top: -0.25rem !important;

}

.nr-1,
.nx-1 {
    margin-right: -0.25rem !important;

}

.nb-1,
.ny-1 {
    margin-bottom: -0.25rem !important;

}

.nl-1,
.nx-1 {
    margin-left: -0.25rem !important;

}

.n-2 {
    margin: -0.5rem !important;

}

.nt-2,
.ny-2 {
    margin-top: -0.5rem !important;

}

.nr-2,
.nx-2 {
    margin-right: -0.5rem !important;

}

.nb-2,
.ny-2 {
    margin-bottom: -0.5rem !important;

}

.nl-2,
.nx-2 {
    margin-left: -0.5rem !important;

}

.n-3 {
    margin: -1rem !important;

}

.nt-3,
.ny-3 {
    margin-top: -1rem !important;

}

.nr-3,
.nx-3 {
    margin-right: -1rem !important;

}

.nb-3,
.ny-3 {
    margin-bottom: -1rem !important;

}

.nl-3,
.nx-3 {
    margin-left: -1rem !important;

}

.n-4 {
    margin: -1.5rem !important;

}

.nt-4,
.ny-4 {
    margin-top: -1.5rem !important;

}

.nr-4,
.nx-4 {
    margin-right: -1.5rem !important;

}

.nb-4,
.ny-4 {
    margin-bottom: -1.5rem !important;

}

.nl-4,
.nx-4 {
    margin-left: -1.5rem !important;

}

.n-5 {
    margin: -3rem !important;

}

.nt-5,
.ny-5 {
    margin-top: -3rem !important;

}

.nr-5,
.nx-5 {
    margin-right: -3rem !important;

}

.nb-5,
.ny-5 {
    margin-bottom: -3rem !important;

}

.nl-5,
.nx-5 {
    margin-left: -3rem !important;

}


@media (min-width: 576px) {
    .w-sl-50 {
        width: 50% !important;
    }
}
@media (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50% !important;
    }

}
@media (min-width: 1200px) {
    .w-xl-50 {
        width: 50% !important;
    }

}
