{% if containerless is not defined %}
	{% set containerless = false %}
{% endif %}
<!DOCTYPE html>
<html class="{{ (htmlclasses??[]) | join(' ') }}">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<title>{% block title %}ZUMpadText – Einfach gemeinsam an Texten arbeiten{% endblock %}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="referrer" content="no-referrer">

			<!-- styles -->
			{% block head_styles %}
				<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}"/>
				<link rel="stylesheet" type="text/css" href="{{ asset('font/css/open-iconic-bootstrap.css', 'iconic') }}"/>
				<link rel="stylesheet" type="text/css" href="{{ asset('css/zumpadtext.css') }}" rel="stylesheet" type="text/css"/>
			{% endblock head_styles %}<!-- /styles -->
			<!-- javascripts -->
			{% block head_javascripts %}
				<script type="text/javascript"
						src="{{ asset('jquery.min.js', 'jquery') }}"></script>
				<script type="text/javascript"
						src="{{ asset('popper.min.js', 'popper') }}"></script>
				<script type="text/javascript"
						src="{{ asset('js/bootstrap.min.js', 'bootstrap') }}"></script>
				<script type="text/javascript" src="{{ asset('ace.js', 'ace') }}"></script>
				<script type="text/javascript"
						src="{{ asset('js/bootstrap-select.min.js', 'bs_select') }}"></script>
			{% endblock head_javascripts %}
			<!-- /javascripts -->
		{% endblock head %}
	</head>
	<body>
		<header class="zumpad-menu {{ containerless ? '' : 'container' }}">
			{% block menu %}
				{% include('menu.html.twig') %}
			{% endblock menu %}
		</header>
		<div class="zumpad-content {{ containerless ? '' : 'container' }}">
			{% block content %}{% endblock %}
		</div>
		<div id="user_wrapper" data-id="{{ uid ? uid : 0 }}" data-logged_in="{{ logged_in==1 }}">
		</div>
	</body>
</html>
