{{ include('header.html.twig') }}
{{ include('menu.html.twig') }}
<div class="container">
	<div class="row">
		<div class="col-12">
			<section class="column">
				<h2 id="opendirect">Konfiguration bearbeiten</h2>
				<div class="alert">Vorsicht, es gibt z.Z. keine richtige Validierung!</div>
				<div class="col-10 offset-1">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					{{ form_end(form) }}
				</div>
			</section>
		</div>
	</div>
</div>
{{ include('footer.html.twig') }}