{% extends 'base.html.twig' %}

{% block head_javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/create_pad.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<section class="col">
			<p>Erstelle hier Dein Pad.</p>
			{{ form_start(form) }}
				{{ form_widget(form) }}
			{{ form_end(form) }}
		</section>
	</div>
{% endblock content %}
