{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<section class="column">
				<h2 id="opendirect">Rolle bearbeiten</h2>
				<div class="col-10 offset-1">
					{{ form_start(form) }}
						{{ form_widget(form) }}
					{{ form_end(form) }}
				</div>
			</section>
		</div>
	</div>
{% endblock content %}
