<div id="pad_modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                {{ form_start(form, {'action': path('edit_pad'), 'method': 'POST'}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
			</div>
			<div class="modal-footer">
  			</div>
		</div>
	</div>
</div>
<head>
	<script type="text/javascript" src="{{ asset('js/edit_pad.js') }}"></script>
</head>