<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ZUMpadText – Einfach gemeinsam an Texten arbeiten</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer">

<!-- styles -->
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('font/css/open-iconic-bootstrap.css', 'iconic') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-select.min.css', 'bs_select') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/zumpadtext.css') }}" rel="stylesheet" type="text/css"/>
<!-- /styles -->
<!-- javascripts -->
{% block javascripts %}
<script type="text/javascript"
	src="{{ asset('jquery.min.js', 'jquery') }}"></script>
<script type="text/javascript"
	src="{{ asset('popper.min.js', 'popper') }}"></script>
<script type="text/javascript"
	src="{{ asset('js/bootstrap.min.js', 'bootstrap') }}"></script>
<script type="text/javascript" src="{{ asset('ace.js', 'ace') }}"></script>
<script type="text/javascript"
	src="{{ asset('js/bootstrap-select.min.js', 'bs_select') }}"></script>
{% endblock %}
<!-- /javascripts -->
</head>
<body>
