{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <section class="p-2" style="">
                <h2 class="nt-2 nx-2 mb-3 px-3 py-1" id="newpaddirect">Direkt ein neues Pad öffnen</h2>
                <ul class="">
                    <li><strong>Schnell</strong> starten.</li>
                    <li><strong>Alle Benutzer</strong> haben <strong>gleiche
                        Bearbeitungsrechte</strong>.</li>
                    <li><strong>Selbst löschen ist nicht möglich</strong>, Pads
                        werden 6 Monate nach dem letzten Bearbeiten gelöscht.</li>
                </ul>
                <div class="">
                    <a class="btn primary" href="{{  url('show_pad') }}/{{ uniqid }}">Direkt neues Pad erstellen</a>
                </div>
                <div class="">
                    <hr class="or">
                    <p class="or">
                        <span>oder</span>
                    </p>
                </div>

                <h3 class="">Pad mit Namen erstellen</h3>
                <div class="">
                    {{ form_start(quick_create_pad_form, {'action': path('show_pad'), 'method': 'POST'}) }}
                        {{ form_widget(quick_create_pad_form) }}
                    {{ form_end(quick_create_pad_form) }}
                </div>
            </section>
        </div>
        <div class="col-md">
            <section class="p-2">
                <h2 class="nt-2 nx-2 mb-3 px-3 py-1" id="register">Einloggen oder Benutzerkonto anlegen </h2>

                <ul class="">
                    <li>Zügig starten, aber <strong>mehr Kontrolle</strong> haben.
                    </li>
                    <li>Account-Inhaber kann <strong>Rechte einstellen</strong></li>
                    <li><strong>Pads</strong> bleiben <strong>dauerhaft</strong>
                        erhalten oder <strong>können selbst gelöscht werden</strong>.</li>
                </ul>

                <div class="">
                    <hr>
                </div>

                <h3 class="">Einloggen</h3>
                <div class="">
                    {{ form_start(login_form, {'action': path('login'), 'method': 'POST'}) }}
                        {{ form_widget(login_form) }}
                    {{ form_end(login_form) }}
                </div>

                <div class="">
                    <hr class="or">
                    <p class="or">
                        <span>oder</span>
                    </p>
                </div>

                <h3 class="">Registrieren</h3>
                <div class="">
                    {{ form_start(register_form, {'action': path('register'), 'method': 'POST'}) }}
                        {{ form_widget(register_form) }}
                    {{ form_end(register_form) }}
                </div>
            </section>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <section class="clearfix" id="privacy">
                <h3>Datenschutz</h3>
                <img src="{{ asset('privacy.png', 'images') }}" alt="privacy"
                     width="75" height="75">
                <p>
                    Die <a href="https://zum.de/">ZUM</a> ist ein gemeinnütziger Verein
                    von Lehrerinnen und Lehrern. Im ZUMpadText speichern wir nur die
                    Daten, die für die Benutzung absolut notwendig sind. <strong>Wir
                    werten diese Daten nicht aus.</strong> Für die Arbeit im Bildungsbereich
                    halten wir es für selbstverständlich, dass die <strong>Daten
                    von Schüler/innen und Lehrenden geschützt</strong> und vertraulich bleiben.
                    Der Serverstandort des ZUMpads ist Deutschland. Näheres in der
                    <a href="https://www.zum.de/portal/datenschutz">Datenschutzerklärung</a>.
                </p>
            </section>
        </div>
    </div>
{% endblock content %}
