{% extends 'base.html.twig' %}

{% block content %}

	<ul class="list-inline
			   row {# .row counters .the container padding on the parent from base  #}
			   d-block {# counters the display: flex for .row #}"
	    style="column-width: 42ch;column-gap: 0.5rem;">
		{% for d in data %}
			<li class="list-inline-item w-100 my-sm-1 mx-0">
			<a class="list-group-item list-group-item-action" href="{{d['url']}}" target="_blank">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{d['name']}}</h5>
					<small class="text-muted">
						<time title="zuletzt bearbeitet am {{d['lastEdited']|date('Y-m-dH:i:sP')}}" datetime="{{d['lastEdited']|date('Y-m-dH:i:sP')}}">
							{{d['lastEdited']|date('Y-m-d')}}
						</time>
					</small>
				</div>
				<div class="d-flex w-100 justify-content-between">
					<ul class="list-unstyled list-inline">
						{% if d['isReadOnly'] %}
							<li class="list-inline-item badge badge-pill badge-info">schreibgeschützt</li>
						{% endif %}
						{% if d['isPublic'] %}
							<li class="list-inline-item badge badge-pill badge-light"><span class="oi oi-globe" title="Öffentlich" aria-hidden="true"></span></li>
						{% elseif not d['isPasswordProtected'] %}
							<li class="list-inline-item badge badge-pill badge-info">privat</li>
						{% else %}
							<li class="list-inline-item badge badge-pill badge-info">privat <span class="oi oi-lock-locked" title="Privat und Passwortgeschützt" aria-hidden="true"></span></li>
						{% endif %}
					</ul>
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<form method="POST" class="d-inline">
								<button class="btn btn-outline-secondary btn-nooutline btn-tiny d-inline">
									<span class="oi oi-wrench" aria-label="Pad bearbeiten" {%  if d['show_options'] %}disabled{% endif %}></span>
								</button>
							</form>
						</li>
						<li class="list-inline-item">
							<form method="POST" class="d-inline">
								<button class="btn btn-outline-danger btn-nooutline btn-tiny d-inline">
									<span class="oi oi-trash" aria-label="löschen" {%  if d['is_deletable'] %}disabled{% endif %}></span>
								</button>
							</form>
						</li>
					</ul>
				</div>
			</a>
			</li>
		{% endfor %}
	</ul>

	</div>
	<div id="insert_edit_modal">
		{% if form is defined %}
			{{ include('edit_pad.html.twig') }}
		{% endif %}
	</div>
{% endblock content %}
{% block head_javascripts %}
	{{parent()}}
	<link rel="stylesheet"
			   href="{{ asset('css/jquery.dataTables.min.css', 'datatables_dt') }}">
	<script type="text/javascript"
				  src="{{ asset('js/jquery.dataTables.min.js', 'datatables') }}"></script>
	<script type="text/javascript"
				  src="{{ asset('js/dataTables.dataTables.min.js', 'datatables_dt') }}"></script>
	<script type="text/javascript" src="{{ asset('js/list_pads.js') }}"></script>
{% endblock head_javascripts %}
