{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<section class="column">
				<h2 id="opendirect">Rollen</h2>
				<table id="show_pads_table" class="datatable display">
					<thead>
						<tr>
							<th>Name</th>
							<th>User</th>
						</tr>
					</thead>
					<tbody>
						{% for entry in roles %}
							<tr>
								<td><a href="{{ url('roles') }}/{{ entry.getId() }}">{{ entry.getRoleName() }}</a></td>
								<td>{{ entry.getUserNames() }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
	<div class="modal"></div>
{% endblock content %}
{% block head_javascripts %}
	<link rel="stylesheet"
		  href="{{ asset('css/jquery.dataTables.min.css', 'datatables_dt') }}">
	<script type="text/javascript"
			src="{{ asset('js/jquery.dataTables.min.js', 'datatables') }}"></script>
	<script type="text/javascript"
			src="{{ asset('js/dataTables.dataTables.min.js', 'datatables_dt') }}"></script>
	<script type="text/javascript" src="{{ asset('js/list_roles.js') }}"></script>
{% endblock head_javascripts %}
