<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-sm navbar-light bg-white rounded-bottom">
            <a href="/"
               class="navbar-brand"
               role="button">
                <img src="{{ asset('zumpadtext-logotype.png', 'images') }}"
                     alt="Logo ZUMpad"
                     class="img-fluid" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav w-100 mt-2 mt-lg-0">
                    {% if uid is defined and uid %}
                        <li role="presentation" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Pads</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url('create_pad') }}">Neues Pad erstellen</a>
                                <a class="dropdown-item" href="{{ url('list_pads') }}">Liste der Pads anzeigen</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if uid is defined and uid %}
                        <li role="presentation" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Benutzerkonto</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url('details') }}">Meine Daten anzeigen</a>
                                <a class="dropdown-item" href="{{ url('logout') }}">Ausloggen</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if uid is defined and uid and user.hasRole("Admin") %}
                        <li role="presentation" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href='#'
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Administration</a>
                            <div class="dropdown-menu"
                                 aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url('config') }}">Konfiguration</a>
                                <a class="dropdown-item" href="{{ url('roles') }}">Rollenmanager</a>
                                <a class="dropdown-item" href="{{ url('user_wrapper') }}">Benutzermanager</a>
                            </div>
                        </li>
                    {% endif %}
                    <li role="presentation" class="nav-item dropdown navbar-right ml-auto ">
                        <a class="nav-link dropdown-toggle"
                           href='#'
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <img src="{{ asset('zumlogo.png', 'images') }}"
                                 class="img-fluid mr-1"
                                 alt="ZUM Logo" />
                            über
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="navbarDropdown">
                            <span class="dropdown-header">Ein Angebot von <a href="https://zum.de/"><em>Zentrale für
                                Unterrichtsmedien im Internet e.V.</em></a></span>
                            <a class="dropdown-item" href="https://www.zum.de/portal/impressum">Impressum</a>
                            <a class="dropdown-item" href="https://www.zum.de/portal/datenschutz">Datenschutz</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
