{% extends 'base.html.twig' %}

{% block content %}
	{{ form_start(recover_form) }}
		{{ form_widget(recover_form) }}
	{{ form_end(recover_form) }}

	<a href="{{ url ('recover') }}">
		<button type="button" name="recover" class="btn btn-default">Passwort vergessen</button>
	</a>

{% endblock content %}
<!--
<button type="button" name="recover" class="btn btn-default" data-toggle="modal" data-target="#recover_modal">Passwort vergessen</button>
<div id="recover_modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Passwort zurücksetzen</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="recover_form" action="{{ url ('reset') }}" method="POST">
					<div class="form-group">
						<div class="form-group">
							<label for="form_email" class="required">Email</label>
							<input type="email" id="recover_form_email" name="form[email]" required="required" class="form-control">
						</div>
						<div class="form-group">
							<button type="submit" id="recover_form_btn" name="form[recover_btn]" class="btn-secondary btn">Password wiederherstellen</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
-->
