{% extends 'base.html.twig' %}

{% block content %}
	<div class="col-xs-2">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="#">Konto</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Alle Daten über mich</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Konto löschen</a></li>
		</ul>
	</div>
	<div class="col-xs-10">
		<div>Hier stehen dann die Daten</div>
	</div>
{% endblock content %}
