{% set containerless = true %}
{% set htmlclasses = [ 'zumpad-page' ] %}
{% extends 'base.html.twig' %}
{% block content %}
	<iframe name="embed_readwrite" src="{{ pad_url }}"></iframe>
{% endblock content %}
